.categories-item_body {
    padding: 20px;

    .categories-item_body_title {
        cursor: pointer;
        text-align: center;
        padding: 0 0 10px 0;
    }

    .categories-item_body_image{
        cursor: pointer;
    }
    img{
        height: 400px;
        width: 500px;
    }
}