.category-item_container {
    padding: 150px 30px 0 30px;
    .category-item_columns {
        display: flex;
        flex: 1 1 50%;
        align-items: center;
    }
    .category-item_column_1{
        margin-right: 100px;
    }
    .category-item_button {
        margin-left: 20px;
    }

    .category-item_column_2 {
    }

    .category-item_choose {
    }
    .category-item_title{

    }
    .category-item_image {

    }
    .category-item_text {

    }
}